/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    display: grid;
    height: 100%;
    place-items: center;
}

.wrapper {
    height: 400px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.wrapper .preview-box {
    width: 100%;
    height: 320px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 2px dashed #C2CDDA;
}

.preview-box .imgActive {
    border: 2px solid transparent;

}

.wrapper .cancel-icon {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 999;
    color: #4158D0;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.preview-box.imgActive:hover .cancel-icon {
    display: block;
}

.wrapper .cancel-icon:hover {
    color: #FF0000;
}

.preview-box .img-preview {
    height: 100%;
    width: 100%;
    position: absolute;
}

.preview-box .img-preview img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.wrapper .preview-box .img-icon {
    font-size: 100px;
    background: linear-gradient(-135deg, #C850C0, #4158D0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wrapper .preview-box .text {
    font-size: 18px;
    font-weight: 500;
    color: #5B5B7B;
    margin-top: 15px;
}

.wrapper .input-data {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.wrapper .input-data #field {
    height: 50px;
    width: 100%; 
    outline: none;
    font-size: 17px;
    border: 2px solid lightgrey;
    border-radius: 5px;
    padding: 0 15px;
    transition: all 0.3s ease;
}

.input-data #field.disabled {
    color: #B3B3B3;
    pointer-events: none;
}

.input-data #field:focus {
    border-color: #4158D0;
}

.input-data #field::placeholder {
    color: #B3B3B3;
}

.input-data #button {
    height: 50px;
    width: 100%; 
    outline: none;
    font-size: 18px;
    color: #FFF;
    border: none;
    font-weight: 500;
    border-radius: 5px;
    opacity: 0.5;
    pointer-events: none;
    background: linear-gradient(-135deg, #C850C0, #4158D0);
    cursor: pointer;
    transition: all 0.3s ease;
}

.input-data #button.active {
    opacity: 1;
    pointer-events: auto;
}

.input-data #button:active {
    transform: scale(0.99);
}

